python-dotenv==1.0.1
pydantic-settings==2.7.1

langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-huggingface==0.1.2
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.5
langgraph==0.2.62
langsmith>=0.3.13,<0.5.0

qdrant-client==1.12.1
sentence-transformers==3.3.1
transformers==4.48.0
torch==2.5.1
accelerate==1.2.1

docx2txt==0.8
unstructured==0.16.12
tiktoken==0.8.0

rich==13.9.4
typer==0.15.1

-e .
